---
// Javascript Location
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lennet.</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  </head>
  <body>
    <main>
      <section>
     </section>
    </main>
 </body>
</html>

<style is:global>
  /* bluu-next-bold edit */
  @font-face {
    font-family: 'Bluu-Next-Bold';
    src: url('../fonts/bluu_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* eb-garamond-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eb-garamond-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    font-family: 'EB Garamond', serif; 
  }

  main {
    padding: 0 24px; /* 0 Pixel oben/unten, 24 Pixel links/rechts */
  }

  h1 {
    font-family: 'Bluu-Next-Bold', serif;
    font-size: 80px;
    text-align: left;
    position: relative;
  }

  h1::after {
    content: "";
    height:4px;
    width: 20%;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0%;
  }

  h2 {
    font-family: 'Bluu-Next-Bold', serif;
    font-size: 55px;
    text-align: center;
    position: relative;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  #gl_canvas {
    /* background-color: red; */
    background-color: #E7E7E7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #menu-btn{
    font-family:inherit;
    font-size: 20px;
    background: none;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    touch-action: manipulation;
  }

</style>
<script>
</script>
