---
// Javascript Location


---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lennet.</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  </head>
  <body>
    <main>
      <section id="core">
        <svg id="lennet_kopf" viewBox="0 0 114 141" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M80.703 137.028C81.2674 123.978 82.3961 102.133 86.0644 99.012L89.7327 82.841C93.6832 82.841 93.6832 78.5855 93.6832 78.5855C96.505 70.3581 101.02 62.6982 101.02 62.6982C103.842 49.9316 92.8366 56.7404 92.8366 56.7404C97.3515 28.0865 58.1287 31.2073 58.1287 31.2073C40.9159 34.328 29.0644 35.7465 21.4456 53.0523L22.0099 65.8189C22.0099 65.8189 9.87625 61.2797 14.9555 73.1952C14.9555 73.1952 20.8812 80.004 25.1138 87.664C25.1138 87.664 25.9604 91.9195 29.9109 91.0684C29.9109 91.0684 40.0693 99.2957 45.9951 139.014L80.9852 137.028H80.703Z" fill=var(--bg-color, #fff)/>
          <path d="M23.1386 62.1308H17.2129L8.74754 60.4285L2.53959 57.8752L0 55.0382L1.1287 51.6338L12.9802 46.8108L18.6238 45.9597L18.0594 31.4909L19.7525 17.5895L23.9852 6.24145L22.0099 3.40442L40.9158 0.567404H63.4901L81.8317 0L83.8069 4.82294L85.5 15.8873L89.4505 32.6257V39.1509L94.2475 38.8672L104.688 41.9879L112.871 44.2575L114 48.5131L110.332 51.6338L101.302 55.3219L92.2723 56.4567L71.6733 59.01L53.8961 61.8471L37.8119 62.6982L23.1386 62.1308Z" fill="black"/>
          <path d="M24.2672 108.658L45.9949 110.36L59.5395 99.2956L42.3266 93.0542L37.2473 96.4586L30.4751 101.282L23.1384 108.09L24.2672 108.658Z" fill=var(--bg-color, #fff)/>
          <path d="M65.4653 98.7283L63.7722 90.2172L68.0049 86.5291L69.9801 85.1106L73.9306 85.3943L90.5792 92.4869L103.277 98.7283V100.147L99.891 102.133L93.1187 104.402L87.7574 105.253L81.5494 106.672L78.1633 105.253L65.4653 98.7283Z" fill=var(--bg-color, #fff)/>
          <path d="M104.406 98.1609L91.4257 91.9195L89.4505 90.7847L90.8614 83.6921H92.8366L96.2228 82.2736L94.8119 78.5855L98.198 71.2092L102.713 62.9818L103.277 56.173L101.02 54.4708L95.6584 55.6056L93.6832 56.173L94.2475 53.0523L92.2723 52.4849L91.7079 59.01L96.5049 56.7404L99.8911 56.173L101.866 57.0241L101.302 60.9959L99.6089 66.3863L93.6832 78.8692L94.2475 81.7062L92.2723 82.841H89.4505L87.193 90.7847L82.396 88.2313L73.0841 85.1106H69.1337L66.3119 86.8128L68.5693 83.6921L69.9802 82.5573H72.5198L77.0347 84.2595L71.3911 80.2877L67.4406 79.7203L68.5693 81.7062L67.1584 83.4084L65.4653 84.8269L63.4901 88.515H59.2574L54.7425 86.8128L53.3317 85.3943L49.9455 83.6921L49.3812 82.2736V81.4225C49.6634 81.4225 50.7921 80.8551 50.7921 80.8551V80.2877L49.099 80.8551L47.1237 83.6921L43.1733 89.6498L39.5049 93.0543L33.8614 96.4587L31.6039 91.9195L29.3465 89.6498L27.3713 91.0684H25.396L24.8317 87.6639L20.8812 81.1388L15.5198 74.6136L13.8267 73.7625L12.698 67.8048L13.5445 65.5352H22.0099L21.1633 60.1448H20.0347L20.599 64.6841H12.9802L11.2871 66.9537L12.4158 74.0462L14.9554 75.4647L20.599 83.6921L23.4208 88.7987L23.9851 91.0684L26.2426 92.7706L29.3465 92.2032L32.1683 98.1609L31.3218 99.5794L23.1386 106.105L20.0347 108.374L22.8564 109.793L45.4307 111.211L47.4059 108.942L55.5891 106.388L58.6931 107.239H63.4901L67.4406 105.821L77.8812 106.388L79.8564 108.09L93.401 104.402H94.8119L103.559 100.714L102.995 98.4446H104.406V98.1609ZM58.6931 98.7283L53.3317 101.565L48.2525 106.388L46.2772 109.793L36.1188 109.225L24.8317 108.658L23.7029 108.09L27.6535 104.686L35.2723 98.1609L41.198 94.4728L43.7376 92.4869L47.6881 89.9335L51.6386 87.9476L55.0247 88.7987L57.5643 91.3521L58.4109 96.4587L58.9752 98.1609V99.012L58.6931 98.7283ZM99.3267 101.849L92.8366 103.835L83.2426 105.821H80.9851L79.2921 104.686L75.3416 100.431L66.8762 97.5935L65.4653 95.6076V90.2172L67.4406 87.9476L69.698 85.9617H71.9554L75.3416 86.8128L81.2673 89.0824L88.0396 92.2032L102.713 99.8631L99.0446 102.133H99.3267V101.849Z" fill="black"/>
          <path d="M24.5492 74.3299L23.4205 76.3158L23.7027 78.3017L25.1136 79.1528L26.2423 83.4083L23.9849 80.5713L21.1631 77.4506L19.47 73.1951L15.8017 72.0603L15.5195 68.3721L16.0839 66.9536L20.3166 67.8047L22.574 67.2373L24.5492 74.3299Z" fill="black"/>
          <path d="M92.5542 60.4284L97.6334 58.7262L100.173 58.4425L99.8908 60.7121L93.9651 72.9113L91.9898 73.4787L91.1433 75.4646L89.4502 75.1809V73.4787L92.5542 70.6417V67.8047L90.5789 66.6699L91.4254 63.8328L91.1433 60.9958L92.5542 60.4284Z" fill="black"/>
          <path d="M33.2971 66.1025L31.8862 65.2514V63.5492L36.4011 62.4144L41.7625 61.847L47.406 59.5774H50.7922L55.0248 62.1307L55.307 64.4003L52.2031 68.6559L45.4308 72.344L38.0941 73.7625L45.4308 69.2233L43.7377 67.2374L42.0446 65.8188L34.708 66.6699L33.2971 66.1025Z" fill="black"/>
          <path d="M59.5395 64.1165L58.9751 62.1306L62.3613 59.861L66.0296 58.4425H68.287L73.3662 60.4284L77.5989 61.8469L80.7029 61.5632L82.1138 62.9817V64.9677L80.7029 65.2514L76.4702 64.4003L72.2375 65.2514L69.1335 66.9536V68.9395L72.8019 70.9254L73.6484 72.0602L69.6979 71.7765L63.2078 68.0884L59.5395 64.1165Z" fill="black"/>
          <path d="M56.9998 115.75L60.1037 117.736L65.183 118.02L68.2869 114.899L69.6978 110.927L64.6186 113.197L58.975 112.63L55.5889 111.495L56.9998 115.75Z" fill="black"/>
          <path d="M47.6877 72.6277L52.767 69.507V70.0744L49.3808 72.6277H47.6877Z" fill="black"/>
          <path d="M63.49 69.2233L69.4158 72.344L68.0049 72.6277L64.0543 70.3581L63.49 69.2233Z" fill="black"/>
          <path d="M52.7671 69.5069L54.4602 66.6699L53.8958 68.3721L52.7671 70.0743V69.5069Z" fill="black"/>
          <path d="M28.5 108.658L47.1237 93.0542L41.4802 99.012L29.3465 108.942L28.5 108.658Z" fill="black"/>
          <path d="M34.99 109.509L53.896 93.6217L48.2524 99.5795L36.1187 109.509H34.99Z" fill="black"/>
          <path d="M99.0444 102.7L77.5989 90.5009L84.3711 95.3238L97.9157 102.984L99.0444 102.7Z" fill="black"/>
          <path d="M92.272 104.402L71.3909 92.4868L77.881 97.3097L91.1433 104.686L92.272 104.402Z" fill="black"/>
          <path d="M37.5295 109.793L41.1979 120.29L44.584 141L82.3959 139.581L83.5246 116.601L84.9355 106.104H83.2424L81.8315 116.601L80.985 126.815L80.4206 137.312L46.277 139.014L43.1731 120.857L39.787 110.076L37.5295 109.793Z" fill="black"/>
          <path d="M51.0742 138.73L50.5098 132.205L49.0989 124.829L50.2276 138.73H51.0742Z" fill="black"/>
          <path d="M56.1532 138.447L55.5889 131.921L54.4602 126.815L55.3067 138.447H56.1532Z" fill="black"/>
          <path d="M61.5147 138.447L61.2325 133.624L60.1038 128.517L60.6681 138.447H61.5147Z" fill="black"/>
          <path d="M66.594 137.879L66.0296 131.354L64.9009 126.531L65.7474 138.163L66.594 137.879Z" fill="black"/>
          <path d="M71.6731 137.595L71.391 131.921L70.5444 127.666L70.8266 137.879L71.6731 137.595Z" fill="black"/>
          <path d="M76.4699 137.595V131.354L75.9055 124.545V137.595H76.4699Z" fill="black"/>
        </svg>
        <h3><a href="https://www.deinhoteleuropa.de/lennet/">hotel europa.</a></h3>
        <div id="timer_proxy"></div>
      </section>
    </main>
    <canvas id="gl_canvas">

    </canvas>
  </body>
</html>

<style is:global>
  /* bluu-next-bold edit */
  @font-face {
    font-family: 'Bluu-Next-Bold';
    src: url('../fonts/bluu_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* eb-garamond-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eb-garamond-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
* {
  box-sizing: border-box; 
}
  :root{
    --bg-color: #F3F0EE;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    font-family: 'EB Garamond', serif; 
  }

  main {
    padding: 0 24px; /* 0 Pixel oben/unten, 24 Pixel links/rechts */

  }

  h1 {
    font-family: 'Bluu-Next-Bold', serif;
    font-size: 80px;
    text-align: left;
    position: relative;
  }

  h1::after {
    content: "";
    height:4px;
    width: 20%;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 0%;
  }

  h2 {
    font-family: 'Bluu-Next-Bold', serif;
    font-size: 55px;
    text-align: center;
    position: relative;
  }

  h3 {
    color: #000;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: 'Bluu-Next-Bold', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.3px;
  }

  h3::after {
    content: "";
    height:2px;
    width: 120%;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  #core {
    padding: 15vh 0;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #gl_canvas {
    background-color: red;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #lennet_kopf {
    width: 114px;
    height: 141px;
  }

  #timer_proxy {
    width: 300px;
    aspect-ratio: 3;
    background-color:rgba(0, 0, 1, 0.5) ;
  }

</style>
<script>
  import{Renderer, Camera, Transform, Plane, Program, Mesh} from "ogl";
  document.addEventListener("DOMContentLoaded", () => {
    const canvas = document.getElementById("gl_canvas") as HTMLCanvasElement;
    const proxy = document.getElementById("timer_proxy") as HTMLElement;

    const renderer = new Renderer({
      canvas: canvas,
      alpha: true,
      dpr: Math.min(window.devicePixelRatio, 2)
    });

    const gl = renderer.gl;
    const camera = new Camera(gl, {far: 1000});
    camera.position.z = 500;
    const scene = new Transform();

    const geometry = new Plane(gl);
    const program = new Program(gl, {
      vertex: `
      attribute vec3 position;
      attribute vec2 uv;
      uniform mat4 modelViewMatrix;
      uniform mat4 projectionMatrix;
      varying vec2 vUv;
      void main() {
        vUv = uv;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
      }
      `,
      fragment: `
      precision highp float;
      void main() {    
        gl_FragColor = vec4(0, 0.0, 1, 0.5); 
      }
      `
    });
    const mesh = new Mesh(gl, { geometry, program });
    mesh.setParent(scene);
    function resize() {
      // 1. Renderer-Größe an den Bildschirm anpassen
      renderer.setSize(window.innerWidth, window.innerHeight);

      // 2. Das neue Seitenverhältnis berechnen
      const aspect = gl.canvas.width / gl.canvas.height;

      // 3. Das neue FOV berechnen (Die Codrops-Formel)
      const fov = 2 * Math.atan((window.innerHeight / 2) / camera.position.z) * (180 / Math.PI);

      // 4. DER FIX: Jetzt beides GEMEINSAM an OGL übergeben, 
        // damit die Projektions-Matrix intern neu berechnet wird!
        camera.perspective({ aspect: aspect, fov: fov });
    }
    window.addEventListener('resize', resize, false);
    resize(); 
    function update() {
      requestAnimationFrame(update); 

      const bounds = proxy.getBoundingClientRect();
      console.log(bounds.width, bounds.height);
      mesh.scale.set(bounds.width, bounds.height, 1);


      mesh.position.x = bounds.left - window.innerWidth / 2 + bounds.width / 2;
      mesh.position.y = -bounds.top + window.innerHeight / 2 - bounds.height / 2;
      renderer.render({ scene, camera });
    }
    requestAnimationFrame(update);
  });
</script>
